@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic);

/* Links */

*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/* Common */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

ul {
  list-style: none;
}

img,
svg {
  vertical-align: none;
  max-width: 100%;
  height: auto;
}

/* Styles main settings */

html,
body {
  height: 100%;
  min-width: 320px;
  background-color: #ffffff;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  color: #080829;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

[class*="container"] {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0px 120px;
}

/*Header*/

.header {
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 101px;
    padding: 0px 72px;
    font-size: 17px;
  }

  &__logo {
    padding: 28px 0px;
    & img {
      max-width: 150px;
      min-height: 45px;
    }
  }

  &__registration {
    display: flex;
  }
}
.menu {
  &__list {
    display: flex;
    gap: 30px;
  }
}
.reg {
  &__cart {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-right: 25px;
  }

  &__counter {
    color: #3f53d8;
    font-size: 11px;
  }

  &__account {
    padding: 17px 37px 24px 37px;
    font-size: 18px;
    border-radius: 14px;
    border: 1px solid lightgrey;
  }
}

/*Main*/

.main {
  &__first-block {
    display: flex;
    align-items: center;
    padding: 70px 0px;
  }

  &__description {
    max-width: 500px;
    margin-right: 50px;
  }

  &__description h2 {
    font-size: 63px;
    padding-top: 54px;
    margin-right: 50px;
    margin-bottom: 31px;
  }

  &__description p {
    margin-bottom: 43px;
    line-height: 29px;
  }

  &__second-block {
    padding: 70px 0px;
  }

  &__third-block {
    padding: 100px 0px;
  }

  &__fourth-block {
    display: flex;
    padding: 100px 0px;
  }

  &__fifth-block {
    display: flex;
    align-items: center;
    padding: 100px 0px;
  }

  &__sixth-block {
    padding: 100px 0px;
  }

  &__seventh-block {
    padding: 100px 0px;
  }

  &__eighth-block {
    display: flex;
    padding: 80px 0px;
  }

  &__nineth-block {
    text-align: center;
    padding: 100px 0px;
  }

  &__tenth-block {
    text-align: center;
    padding: 100px 0px;
  }

  &__eleventh-block {
    text-align: center;
    padding: 150px 0px;
  }
}

.description {
  &__button {
    display: flex;
    gap: 34px;
    align-items: center;
    margin-bottom: 31px;
  }

  &__button a {
    padding: 16px 36px 23px 36px;
    color: white;
    background-color: #3f53d8;
    border-radius: 14px;
  }
}

.second {
  &__title {
    font-size: 22px;
    text-align: center;
    margin-bottom: 24px;
  }

  &__icons {
    display: flex;
    gap: 15px;
    & img {
      height: 95px;
    }
  }
}

.third {
  &__icons {
    display: flex;
    justify-content: space-between;
    text-align: center;
    & img {
      margin-bottom: 31px;
    }
  }

  &__text {
    text-align: center;
    & h2 {
      font-size: 42px;
      margin-bottom: 26px;
    }
    & p {
      max-width: 554px;
      line-height: 28px;
      margin: 0 auto;
      color: #545479;
      margin-bottom: 56px;
    }
  }

  &__first-icon {
    margin-bottom: 100px;
  }

  &__second-icon {
    margin-bottom: 100px;
  }

  &__third-icon {
    margin-bottom: 100px;
  }

  &__fourth-icon {
    margin-bottom: 100px;
  }

  &__fifth-icon {
    margin-bottom: 50px;
  }

  &__sixth-icon {
    margin-bottom: 50px;
  }

  &__seventh-icon {
    margin-bottom: 50px;
  }

  &__eighth-icon {
    margin-bottom: 50px;
  }
}

.fourth {
  &__icon {
    margin-right: 138px;
  }
}

.text {
  &__title {
    & h2 {
      font-size: 42px;
      margin-bottom: 27px;
    }
    & p {
      line-height: 28px;
      margin-bottom: 27px;
      color: #545479;
    }
  }

  &__subtitle {
    padding-left: 36px;
    margin-bottom: 48px;
    font-size: 16px;
  }
}
.description {
  &__button a {
    padding: 16px 36px 20px 36px;
  }
}


.text-fifth {
  max-width: 400px;
  &__title {
    & h2 {
      font-size: 42px;
      margin-bottom: 25px;
    }
    & p {
      line-height: 28px;
      color: #545479;
      margin-bottom: 43px;
      font-size: 18px;
    }
  }

  &__subtitle {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-bottom: 48px;
    & img {
      margin-right: 24px;
    }
  }
}

.sixth {
  &__title {
    text-align: center;
    font-size: 43px;
    margin-bottom: 80px;
  }

  &__cards {
    display: flex;
    gap: 70px;
  }
}
.card {
  & p {
    font-size: 27px;
    padding-top: 40px;
    margin-bottom: 20px;
  }
  & a {
    color: #545479;
  }
  & img {
    height: 290px;
  }
}

.seventh {
  font-size: 44px;
  text-align: center;
  &__content {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    & img:first-child {
      align-self: self-start;
    }
  }

  &__text {
    max-width: 746px;
    text-align: start;
    & p {
      font-size: 30px;
      margin-bottom: 34px;
    }
    & a {
      font-size: 22px;
    }
  }

  &__human {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 34px;
  }
}

#stars {
  margin-bottom: 34px;
}

#second-icon {
  align-self: self-end;
  margin-bottom: 9%;
}

.eighth {
  display: flex;
  gap: 70px;
  & img {
    margin-right: 100px;
  }
  & h2 {
    font-size: 44px;
  }
  & span {
    color: #3F53D8;
  }
  & p {
    line-height: 27px;
    color: #545479;
  }
}

.nineth {
  &__text {
    position: relative;
    & h2 {
      font-size: 47px;
      margin-bottom: 80px;
    }
    & img {
      position: absolute;
      right: 10%;
      top: 120px;
    }
  }
}
.icons {
  &__first-part {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
    gap: 120px;
    & img:nth-child(even) {
      padding-top: 40px;
    }
  }

  &__second-part {
    display: flex;
    justify-content: center;
    gap: 120px;
    & img:nth-child(even) {
      padding-top: 40px;
    }
  }
}

.tenth {
  z-index: 1;
  & h2 {
    font-size: 43px;
    margin-bottom: 80px;
  }
}
.tenth-cards {
  display: flex;
  gap: 60px;
  text-align: start;
  &__content {
    display: flex;
    gap: 27px;
    flex-direction: column;
    max-width: 360px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 25px;
    & a {
      padding: 5px 20px 11px 20px;
    }
    & p {
      font-size: 23px;
      margin-bottom: 20px;
    }
  }
}
#branding {
  background-color: #d7bafd;
  border-radius: 10px;
  max-width: 113px;
}
#business {
  background-color: #D9DEFF;
  border-radius: 10px;
  max-width: 111px;
}
#startup {
  background-color: #FA5B68;
  border-radius: 10px;
  max-width: 101px;
}

.eleventh {
  position: relative;
  background-color: #080829;
  z-index: -1;
  & h2 {
    color: white;
    font-size: 66px;
  }
  &__description-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 65px;
    padding-left: 250px;
    & a {
      color: white;
      background-color: #3F53D8;
      border-radius: 14px;
      padding: 16px 36px 20px 36px;
      margin-right: 30px;
    }
  }
}
#eleventh__first-icon {
  position: absolute;
  top: 0;
  left: 0;
}
#eleventh__first-circle {
  position: absolute;
  top: 0;
  right: 15%;
}
#eleventh__second-icon {
  position: absolute;
  right: 0;
  bottom: 0;
} 
#eleventh__second-circle {
  position: absolute;
  left: 15%;
}

/*Footer*/

.footer {
  position: relative;
  padding: 100px 0px 60px;
  & a {
    font-size: 19px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  &__content {
    display: flex;
    gap: 100px;
  }

  &__first-block {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    & p {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  &__second-block {
    display: flex;
    flex-direction: column;
    & p {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  &__third-block {
    display: flex;
    flex-direction: column;
    & p {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  &__icons {
    display: flex;
    gap: 30px;
  }

  &__rights {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding-top: 89px;
  }
}
#logo {
  display: flex;
  align-self: flex-start;
}
#footer__circle {
  position: absolute;
  left: 25%;
  bottom: 35%;
}
#footer__mail {
  display: flex;
  &::before {
    content: url('../img/footer__mail.svg');
    margin: 5px 14px 0px 0px;
  }
}
#footer__phone {
  display: flex;
  &::before {
    content: url('../img/footer__phone.svg');
    margin: 5px 14px 0px 0px;
  }
}
#footer__internet {
  display: flex;
  &::before {
    content: url('../img/footer__internet.svg');
    margin: 5px 14px 0px 0px;
  }
}

/* Adaptive */

@media (max-width: 1025px) {
  .container {
    padding: 0px 70px;
  }
  .header {
    &__content {
      gap: 30px;
    }
    &__logo img {
      max-width: 120px;
    }
  }
  .menu {
    &__list {
      font-size: 15px;
    }
  }
  .reg{
    &__cart {
      font-size: 15px;
    }
    &__account {
      font-size: 12px;
      padding: 14px 30px;
    }
  }
  .main {
    &__description {
      max-width: 390px;
      & h2 {
        font-size: 43px;
      }
      & p {
        font-size: 15px;
      }
    }
    &__fourth-block {
      padding: 50px 0px;
    }
    &__sixth-block {
      padding: 70px 0px;
    }
    &__eighth-block img {
      margin-right: 50px;
    }
    &__nineth-block h2 {
      font-size: 45px;
    }
  }
  .description {
    &__button a {
      font-size: 12px;
      padding: 17px 35px;
    }
  }
  .second {
    &__icons {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__icons img {
      height: 95px;
    }
  }
  .text {
    &__subtitle {
      margin-bottom: 40px;
    }
    &__subtitle p {
      margin-bottom: 10px;
      font-size: 14px;
    }
  }
  .fourth {
    &__icon {
      align-self: center;
      padding-bottom: 100px;
      margin-right: 70px;
    }
  }
  .text-fifth {
    &__title {
      & h2 {
        font-size: 35px;
      }
      & p {
        font-size: 16px;
      }
    }
  }
  .card {
    & p {
      padding-top: 10px;
      font-size: 21px;
    }
    & a {
      font-size: 14px;
    }
  }
  .seventh {
    &__text {
      padding-left: 25px;
      & p {
        font-size: 30px;
      }
      & a {
        font-size: 18px;
      }
    }
  }
  #second-icon {
    margin-bottom: 11%;
  }
  .icons {
    &__first-part {
      gap: 90px;
    }
    &__second-part {
      gap: 90px;
    }
  }
  .tenth-cards {
    & a {
      font-size: 14px;
    }
    &__content {
      & p {
        font-size: 20px;
      }
    }
  }
  #eleventh__first-icon {
    max-height: 150px;
  }
  #eleventh__second-icon {
    max-height: 150px;
  }
  .footer {
    &__content {
      gap: 70px;
    }
    &__first-block {
      padding-left: 50px;
    }
  }
}

@media (max-width: 769px) {
  .container {
    padding: 0px 50px;
  }
  .header {
    &__content {
      padding: 0px 50px;
    }
    &__content {
      gap: 25px;
    }
    &__logo img {
      max-width: 100px;
    }
  }
  .menu {
    &__list {
      font-size: 12px;
    }
  }
  .reg{
    &__cart {
      font-size: 12px;
    }
    &__account {
      font-size: 11px;
      padding: 12px 12px;
    }
  }
  .main {
    &__description {
      max-width: 340px;
      & h2 {
        font-size: 35px;
      }
      & p {
        font-size: 14px;
      }
    }
    &__first-block {
      padding: 50px 0px;
    }
    &__fourth-block {
      padding: 50px 0px;
    }
    &__fifth-block {
      padding: 50px 0px;
    }
    &__sixth-block {
      padding: 50px 0px;
    }
    &__seventh-block {
      & p {
        font-size: 40px;
      }
    }
    &__eighth-block {
      gap: 40px;
      & img {
        margin-right: 50px;
        width: 170px;
      }
      & h2 {
        font-size: 35px;
      }
      & p {
        font-size: 12px;
      }
    }
    &__nineth-block h2 {
      font-size: 45px;
    }
    &__eleventh-block {
      & h2 {
        font-size: 50px;
      }
    }
  }
  .description {
    &__button a {
      font-size: 11px;
      padding: 15px 15px;
    }
  }
  .third {
    &__text {
      & h2 {
        font-size: 38px;
      }
      & p {
        font-size: 15px;
      }
    }
    &__icons {
      & img {
        width: 70px;
      } 
      & p {
        font-size: 15px;
      }
    }
  }
  .fourth {
    &__text {
      & h2 {
        font-size: 33px;
      }
      & p {
        font-size: 15px;
      }
    }
  }
  .description {
    &__button {
      & a {
        padding: 15px 25px;
        font-size: 12px;
      }
    }
  }
  .text-fifth {
    &__title {
      & p {
        font-size: 14px;
      }
    }
    &__subtitle {
      & p {
        font-size: 14px;
        margin-bottom: 10px;
      }
      & img {
        width: 80px;
      }
    }
  }
  .sixth {
    &__title {
      margin-bottom: 40px;
    }
  }
  .card {
    gap: 40px;
    & p {
      font-size: 17px;
    }
    & a {
      font-size: 12px;
    }
  }
  .seventh {
    &__content {
      gap: 20px;
    }
    &__text p {
      font-size: 30px;
      margin-bottom: 20px;
    }
  }
  #stars {
    margin-bottom: 20px;
  }
  .icons {
    &__first-part {
      gap: 60px;
    }
    &__second-part {
      gap: 60px;
    }
  }
  .tenth {
    &__content {
      & p {
        font-size: 18px;
      }
      & a {
        font-size: 12px;
      }
    }
  }
  #branding {
    text-align: center;
    padding: 10px 15px;
  }
  #business {
    text-align: center;
    padding: 10px 15px;
  }
  #startup {
    text-align: center;
    padding: 10px 15px;
  }
  #eleventh__first-icon {
    width: 120px;
  }
  #eleventh__second-icon {
    width: 120px;
  }
  .eleventh {
    &__description-button {
      padding-left: 200px;
    }
  }
  .footer {
    &__content {
      gap: 40px;
      & p {
        font-size: 16px;
      }
      & a {
        font-size: 14px;
      }
    }
  }
  #logo {
    width: 110px;
  }
}

@media (max-width: 426px) {
  .container {
    padding: 0px 30px;
  }
  .header {
    &__content {
      flex-wrap: wrap;
      padding: 0px 30px;
    }
    &__menu {
      order: 2;
      margin: 0 auto;
      margin-top: -10px;
    }
    &__registration {
      order: 1;
    }
  }
  .main {
    &__first-block {
      & img {
        display: none;
      }
    }
    &__description {
      margin-right: 0px;
    }
    &__seventh-block {
      & p {
        font-size: 35px;
      }
    }
    &__eighth-block {
      flex-direction: column;
      align-items: center;
      gap: 50px;
      text-align: center;
      & img {
        margin: 0 auto;
      }
    }
    &__nineth-block {
      & h2 {
        font-size: 30px;
      }
      padding: 50px 0px;
    }
    &__tenth-block {
      & h2 {
        font-size: 35px;
      }
    }
    &__eleventh-block {
      & h2 {
        font-size: 25px;
        line-height: 35px;
      }
    }
  }
  .third {
    &__icons {
      & img {
        width: 45px;
      }
      & p {
        font-size: 12px;
      }
    }
  }
  .fourth__icon {
    display: none;
  }
  .fifth__icon {
    display: none;
  }
  .sixth {
    &__title {
      margin-bottom: 50px;
      & h2 {
        font-size: 35px;
      }
    }
    &__cards {
      flex-wrap: wrap;
    }
    &__cards {
      text-align: center;
      & p {
        font-size: 22px;
        padding-top: 20px;
      }
      & a {
        font-size: 14px;
      }
    }
  }
  .seventh {
    &__content {
      gap: 0px;
    }
    &__text {
      & p {
        font-size: 18px;
        margin-bottom: 5px;
      }
      & a {
        font-size: 15px;
      }
    }
    &__human {
      & img {
        width: 65px;
      }
    }
    &__arrows img {
      width: 40px;
    }
  }
  #quotes {
    width: 50px;
  }
  .nineth {
    & img {
      width: 27px;
    }
  }
  .icons {
    &__first-part {
      gap: 40px;
      margin-bottom: 70px;
    }
    &__second-part {
      gap: 40px;
    }
  }
  .tenth {
    &__content {
      flex-wrap: wrap;
    }
  }
  .eleventh {
    &__description-button {
      padding-left: 40px;
      & a {
        padding: 15px 15px;
        font-size: 12px;
      }
      & img {
        display: none;
      }
    }
  }
  .footer {
    padding-top: 70px;
    &__content {
      gap: 20px;
      & p {
        font-size: 12px;
      }
      & a {
        font-size: 10px;
      }
    }
    &__first-block {
      padding-left: 10px;
    }
    &__icons {
      gap: 20px;
      & img {
        width: 15px;
      }
    }
    &__rights {
      & p {
        font-size: 10px;
      }
    }
  }
  #logo {
    display: none;
  }
}

@media (max-width: 376px) {
  .reg {
    &__cart {
      font-size: 12px;
    }
    &__account {
      font-size: 10px;
      padding: 5px 10px;
    }
  }
  .main {
    &__third-block {
      padding: 50px 0px;
    }
  }
  .third{
    &__icons {
      & p {
        font-size: 11px;
      }
      & img {
        margin-bottom: 15px;
      }
    }
  }
  .text-fifth {
    &__subtitle {
      & p {
        font-size: 12px;
      }
    }
  }
  #quotes {
    width: 35px;
    margin-top: 15px;
  }
  .seventh {
    & p:first-child {
      font-size: 30px;
    }
    &__content {
      padding-top: 50px;
    }
    &__text {
      & a {
        font-size: 12px;
      }
    }
    &__arrows {
      & img {
        width: 30px;
      }
    }
  }
  .nineth {
    &__text h2 {
      font-size: 25px;
      margin-bottom: 60px;
    }
  }
  .icons {
    &__first-part {
      gap: 28px;
    }
    &__second-part {
      gap: 28px;
    }
  }
}

@media (max-width: 384px) {
  .header {
    &__logo img {
      width: 62px;
    }
    &__menu {
      gap: px;
    }
  }
  .reg{
    &__cart {
      margin-right: 10px;
    }
  }
  .menu {
    &__list {
      gap: 15px;
    }
  }
  .main {
    &__first-block {
      padding-bottom: 30px;
    }
    &__description {
      & h2 {
        font-size: 30px;
      }
      & p {
        font-size: 13px;
      }
    }
    &__tenth-block {
      & h2 {
        font-size: 25px;
      }
    }
  }
  .third {
    &__text {
      & h2 {
        font-size: 34px;
      }
    }
    &__icons {
      & img {
        width: 40px;
      }
      & p {
        font-size: 9px;
      }
    }
  }
  .third__first-part, .third__second-part, .third__third-part {
    padding-right: 10px;
  }
  .text {
    &__title {
      & h2 {
        font-size: 28px;
      }
      & p {
        font-size: 14px;
      }
    }
    &__subtitle p {
      font-size: 12px;
    }
  }
  .text-fifth {
    &__subtitle {
      & p {
        font-size: 10px;
      }
    }
  }
  .sixth {
    &__title {
      & h2 {
        font-size: 30px;
      }
    }
  }
  .seventh {
    &__text { 
      padding-left: 10px;
      & a {
        font-size: 10px;
      }
    }
  }
  #quotes:last-child {
    margin-top: 50px;
  }
  .nineth{
    &__text {
      & h2 {
        font-size: 22px;
      }
      & img {
        top: 80px;
      }
    }
  }
  .icons {
    &__first-part {
      gap: 20px;
      margin-bottom: 50px;
    }
    &__second-part {
      gap: 20px;
    }
  }
  .eleventh {
    &__description-button {
      padding-top: 50px;
    }
  }
  .footer {
    &__rights {
      & p:first-child {
        padding-right: 10px;
      }
    }
    &__first-block {
      padding-left: 0px;
    }
    &__content {
      flex-wrap: wrap;
      & p {
        font-size: 16px;
      }
      & a {
        font-size: 11px;
      }
    }
    &__first-block {
      padding-right: 25px;
    }
  }
  #footer__circle {
    left: 75%;
  }
}